<!DOCTYPE html>
<html>
    <head>



    <%= javascript_include_tag "map" %>
    <%= javascript_include_tag "map_LatLng" %>
     


  
    </head>

    <body>
        <div id="googleMap"></div>
        <div id="input_data">
        <font color="white"><b>Latitude:</b></font><input id="latitude" type="text" value="0" /><br/>
        <font color="white"><b>Longitude:</b></font><input id="longitude" type="text" value="0"/><br/>
        <font color="white"><b>Latitude2:</b></font><input id="latitude" type="text" value="0" /><br/>
        <font color="white"><b>Longitude2:</b></font><input id="longitude" type="text" value="0"/><br/>    
        <button id="panButton" onclick="pan()">Go!</button>  
        </div>
        <div id="img1">
        <%= image_tag "map_icon.png" %>  
        </div>    
        <div id="crdts">
        <h3>Playing with Google Maps</h3>
        <p>Created By:<br/>Shehryar<br/><a href="https://github.com/sshehryar/gmaps_demo">Github</a> </p>
       
          
    </body>
</html>
