// Place all the styles related to the map_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
html{

background: #33485C;


}


#googleMap {
    height:620px;
    width:920px;
    border: 2px solid black;
}

#input_data{
    position: fixed;
    top: 300px;
    right: 35px;
    text-align: right;

}

#img1{

    position: fixed;
    top: 60px;
    right:5px;
    z-index: -5;
    

}

#crdts{

position: fixed;
    top: 0px;
    right:70px;
    text-align: center;
    color: white;
}

a{
color: white;
}

